<div class="container">
<h1>Create a new dose</h1>
<hr>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%=  f.association :ingredient %>
    <%=  f.input :description %>
    <%=  f.submit class: 'btn btn-primary'%>
    <%= link_to 'Cancel', '#', class: 'btn btn-danger ml-2' %>
  <% end %>
  <hr>

  <%= link_to "< Back to the cocktail", cocktail_path(@cocktail) %>
</div>
